.footer {
    height: var(--footer-height);
    padding-top: 30px;
    border-top: 4px solid var(--primary-color);
    background-color: var(--white-color);
}

.list {
    text-align: center;
}

.bottom {
    text-align: center;
    margin-top: 50px;
    background-color: #f3f3f3;
}

.text {
    color: var(--text-color);
}
