.filter {
    padding: 12px 24px;
    background-color: rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    border-radius: 2px;
}

.filter-page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.filter-label {
    font-size: 1.6rem;
    margin-right: 14px;
}

.filter-num {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}

.filter-icon {
    font-size: 1.2rem;
    font-weight: 450;
}

.price,
.price-list {
    width: 200px;
}

.price {
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// Product
.product {
    margin-bottom: 10px;
}

.product-item {
    background-color: var(--white-color);
    margin-top: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform ease-in 0.1s;
    will-change: transform;
    width: 100%;

    &:hover {
        box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
        transform: translateY(-1px);
    }

    &:hover .buttons {
        opacity: 1;
    }
}

.product-img {
    width: 100%;
}

.img {
    width: 100%;
}

.product-title {
    font-size: 1.4rem;
    font-weight: 450;
    color: var(--text-color);
    margin: 10px;
    /* Tạo giới hạn dòng và dấu ... */
    line-height: 1.8rem;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.product-price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    padding-bottom: 8px;
}

.old-price {
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
    margin-left: 10px;
}

.new-price {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.buttons {
    position: absolute;
	top: 0;
	left: 0;
	transition: opacity 0.5s;
	opacity: 0;
	width: 100%;
	height: 100%;
	background-color: #00000044;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

// Pagination
.pagination {
    margin: 48px 0 32px 0;
}

.pagination-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-item {
    margin: 0 16px;
}

.pagination-icon {
    font-size: 2rem;
}
