.search {
    background-color: var(--white-color);
    height: 40px;
    width: 880px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    margin-bottom: 15px;

    input {
        flex: 1;
        height: 100%;
        width: 100%;
        font-size: 1.8rem;
        padding: 0 12px;
        border: none;
        outline: none;
        color: var(--text-color);
    }
}

p {
    margin: 5px 0;
}

