.create {
    margin: 0 auto;
    width: 900px;
}

.wrapper {
    margin: 20px 0;
}

.lbl {
    display: inline-block;
    font-size: 1.8rem;
    padding: 16px;
    width: 200px;
}

.ip {
    padding: 10px;
    width: 400px;
}
